# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# VCS / IDE
.git/
.gitignore
.vscode/
.idea/

# Builds & caches
dist/
build/
*.aab
*.apk
*.ipa
*.app
*.xcarchive
.gradle/
.cxx/
Pods/
android/.gradle/
android/.cxx/
android/build/
ios/build/

# Secrets / env
*.keystore
*.jks
*.p8
*.pem
*.key
.env
.env.*

# Assets lourds temporaires
**/*.psd
**/*.ai
**/*.zip
**/*.rar
