# Node modules (toujours)
node_modules/

# Next.js build output
.next/
out/

# Mac OS
.DS_Store

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files (ne JAMAIS pousser, secret)
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*
*.env

# Typescript
*.tsbuildinfo

# Firebase / secrets
*.pem
*.p8
*.p12
*.key
*.jks
*.mobileprovision
firebase-adminsdk-*.json

# Expo/React Native (inutile ici, mais tu peux garder si tu mixes plus tard)
.expo/
dist/
web-build/
expo-env.d.ts
.kotlin/
.metro-health-check*
*.orig.*

# Example app config
app-example

# VSCode settings (optionnel)
.vscode/

# Système divers
Thumbs.db

README-ADMIN-PRIVATE.md
# Local development files
*.local
